# if-sats

if condition:
    statement 1
    statement 2
else:
    statement 1
    statement 2
    ...

In [2]:
age = int(input("Hur gammal är du?")) #Typomvandlar sträng till heltal

if age < 18:
    print("Du får inte gå till puben")
else:
    print("Du får gå till puben")

print("Programmet fortsätter här")

Du får gå till puben

In [4]:
age = 15
height = 150

#För att få åka Balder: Åldergräns 11 år & höjd 130 cm
if age >= 11 and height >= 130: #Båda villkoren ska vara sanna
    print("Du får åka Balder")
else:
    print("Åk Rabalder istället")

print("Ha det så roligt på Liseberg!")

Du får åka Balder
Ha det så roligt på Liseberg!

In [8]:
age = 15
height = 129

#För att få åka Balder: Åldergräns 11 år & höjd 130 cm
if age >= 11 and height >= 130: #Båda villkoren ska vara sanna
    print("Du får åka Balder")
else:
    print("Åk Rabalder istället")

print("Ha det så roligt på Liseberg!")

Åk Rabalder istället
Ha det så roligt på Liseberg!

In [9]:
age = 15
height = 129

#För att få åka Balder: Åldergräns 11 år eller höjd 130 cm
if age >= 11 or height >= 130: #Minst ett av villkoren ska vara sann
    print("Du får åka Balder")
else:
    print("Åk Rabalder istället")

print("Ha det så roligt på Liseberg!")

Du får åka Balder
Ha det så roligt på Liseberg!

In [14]:
#Modulusoperator % --> ger resten vid en heltalsdivision.

number = 7
#Hur checkar vi om number är jämnt eller udda?
#Dividera talet med 2 och kolla om resten är 0.
if number % 2 == 0:
    print(f"{number} är jämnt.")
else:
    print(f"{number} är udda.")

7 är udda.

In [4]:
"""
IG: 0-10
G: 11-20
VG: 21-30
MVG: > 30
"""

import random as rnd

rnd.seed(12)
points = rnd.randint(0, 35) #Slumpat heltal mellan 0 och 35.
print(points)

if points > 30:
    print("MVG")
elif points > 20:
    print("VG")
elif points > 10:
    print("G")
else: 
    print("IG")

30
VG

In [5]:
number = 10
if number % 2 == 0 and number % 5 == 0:
    print("jämnt och delbart med 5")

jämnt och delbart med 5

In [6]:
#nästlade if-satser. Ett alternativt sätt att skriva koden ovanför.
number = 10
if number % 2 == 0:
    if number % 5 == 0:
        print("Jämnt och delbart med 5.")

Jämnt och delbart med 5.

In [12]:
#summera alla udda tal mellan 0 och 10
n = 1
summa = 0

while n <= 10:
    if n == 9:
        print("9=", end="")
    else:
        print(f"{n}+", end="")
    summa += n
    n += 2

print(summa)

1+3+5+7+9=25

## Fåglar och oljeutsläpp

- Finns 8000 fåglar från början. 
- Ett oljeutsläpp gör att populationen halveras varje år
- Hur många år tar det tills fågelpopulationen blivit en tiondel?

In [18]:
birds, year = 8000, 0

while birds > 800:
    birds /= 2 #motsvarar birds = birds/2
    year += 1
    print(f"År {year}: antal fåglar: {birds: .0f} st.") #.0f no decimals

År 1: antal fåglar:  4000 st.
År 2: antal fåglar:  2000 st.
År 3: antal fåglar:  1000 st.
År 4: antal fåglar:  500 st.

## Mjölkuppgift

- 1L mjölk 1 500 000 bakterier i rumstemperatur
- Bakterier ökar med 50% per timme i rumstemp
- Mjölk surnar när vi har mer än 10 000 000 st bakterier.
- Hur många timmar tar det tills mjölken surnar? (hela timmar)

In [28]:
bacteria_milk = 1500000 #Eller 1.5e6
hours = 0

while bacteria_milk < 10000000: #Eller 1e7
    bacteria_milk *= 1.5
    hours += 1
    print(f"After {hours} hours the bacteria level is {bacteria_milk:.0f}.")

After 1 hours the bacteria level is 2250000.
After 2 hours the bacteria level is 3375000.
After 3 hours the bacteria level is 5062500.
After 4 hours the bacteria level is 7593750.
After 5 hours the bacteria level is 11390625.